:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --v-dark-cyan: hsl(183, 100%, 15%);
  --drk-gray-cyan: hsl(186, 14%, 43%);
  --txt-gray-cyan: hsl(184, 14%, 56%);
  --lt-gray-cyan: hsl(185, 41%, 84%);
  --v-gray-cyan: hsl(189, 41%, 97%);
}

body {
  background-color: var(--lt-gray-cyan);
  display: grid;
  justify-items: center;
  align-content: center;
  font-family: 'Space Mono', monospace;
}
header {
  margin: 2rem auto;
}
.container {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
p {
  font-size: 1rem;
  color: var(--drk-gray-cyan);
}
.tip-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
input {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--v-dark-cyan);
  background-color: var(--v-gray-cyan);
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  text-align: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
input:focus {
  outline: none;
  border: 2px solid var(--strong-cyan);
  margin: -2px;
}
input:error {
  outline: none;
  border: 2px solid firebrick;
}

.tip-input p {
  margin: 0.5rem 0;
}
#custom-tip {
  text-align: center;
}
#btn-grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 30%);
  margin-bottom: 0.5rem;
}
button,
option {
  border: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 0.3rem;
  background-color: var(--v-dark-cyan);
  transition: background-color 300ms ease-out;
  padding: 0.5rem;
}
button:hover,
.reset:hover {
  color: var(--v-dark-cyan);
  background-color: var(--lt-gray-cyan);
  cursor: pointer;
}
.btn-selected {
  color: var(--v-dark-cyan);
  background-color: var(--strong-cyan);
}

.results {
  display: grid;
  grid-gap: 2.5rem;
  align-items: end;
  grid-template-columns: 2fr 1fr;
  background-color: var(--v-dark-cyan);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 100%;
  padding: 1.5rem;
  text-align: right;
}
h3 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
p {
  font-size: 0.8rem;
  font-weight: 500;

  color: var(--txt-gray-cyan);
}
h2 {
  color: var(--strong-cyan);
  font-size: 2rem;
}
.reset {
  grid-column-start: span 2;
  align-self: end;
  font-size: 1rem;
  color: var(--v-dark-cyan);
  background-color: var(--strong-cyan);
  text-transform: uppercase;
}
.reset-inactive {
  opacity: 20%;
}
.reset-inactive:hover {
  color: var(--v-dark-cyan);
  background-color: var(--strong-cyan);
  cursor: auto;
}

@media (min-width: 650px) {
  .container {
    width: min(90%, 50rem);
    margin: 1rem;
    padding: 1.5rem;
    flex-direction: row;
  }
  .tip-input {
    width: 50%;
  }
  .results {
    margin-top: 0;
    margin-left: 1rem;
    width: 50%;
  }
  #btn-grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 50%);
  }
}

.attribution a {
  color: var(--v-dark-cyan);
  transition: color 200ms;
}
.attribution a:hover {
  color: var(--strong-cyan);
}
